.inner-page {
  color: $black;
  background: $content_background url("../img/content-background.png") 0 0 repeat;

  .page-header {
    margin-bottom: 50px;
    background-color: $black;
  }

  .header-navigation {
    display: flex;
    flex-direction: row;
  }

  .header-logo {
    padding: 23px 20px;
    order: 0;
    align-self: flex-start;
    width: 151px;
    height: 70px;
  }
}
