.inner-page {
  color: $black;
  background: $content_background url("../img/content-background.png") 0 0 repeat;

  .page-header {
    margin-bottom: 50px;
    background-color: $black;
  }

  .header-navigation {
    display: flex;
    flex-direction: row;
  }

  .header-logo {
    padding-top: 20px;
    order: 0;
    align-self: auto;
    width: 111px;
    height: 24px;
  }
}
