.page-footer {
  background: $black url("../img/footer-background.png") 0 0 repeat;
}

.page-footer a {
  color: $white;
}

.footer-social ul {
  list-style: none;
}

.footer-contacts a {
  text-decoration: underline;
}
