.page-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  color: $white;
  background: $footer_background url("../img/footer-background.png") 0 0 repeat;
}

.page-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: $white;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.footer-copyright {
  width: 145px;
  margin: 0;
  text-align: center;

  a:hover,
  a:focus {
    color: $black;
    background-color: $white;
  }
}

.footer-social {
  width: 140px;
  margin: 0;
  margin-right: 260px;
  text-align: center;

  ul {
    list-style: none;
  }
}

.social-list {
  margin: 0;
  padding: 0;
}
