.page-footer {
  background: #252525 url("../img/footer-background.png") 0 0 repeat;
}

.footer-contacts a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.footer-contacts a,
.footer-copyright a {
  color: $white;
}

.footer-social ul {
  list-style: none;
}
