.index-columns {
  color: $black;
  background:
    url("../img/separator.png") 50% 50% no-repeat,
    url("../img/content-background.png") 0 0 repeat;
  background-color: $content_background;

  h2 {
    font-size: 30px;
    line-height: 42px;
  }
}
