.index-columns {
  background:
    url("../img/separator.png") 50% 50% no-repeat,
    $content-background url("../img/content-background.png") 0 0 repeat;
  color: $black;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns .button {
  color: $white;
  background-color: $black;
}
