.page-header {
  font-size: 16px;
  line-height: 20px;
  background-color: $black;
}

.app-navigation,
.user-navigation {
  list-style: none;

  a {
    color: $white;

    &:hover,
    &:focus {
      background-color: #242424;
    }
  }
}
