.page-header {
  margin-bottom: 70px;
  font-size: 16px;
  line-height: 20px;
}

.header-navigation {
  display: flex;
  flex-direction: column;
}

.header-logo {
  order: 2;
  width: 368px;
  height: 153px;
  align-self: center;
}

.header-navigation-wrapper {
  width: 100%;
  order: 1;
  margin-bottom: 60px;
  background-color: $black;
}

.header-navigation-wrapper .container {
  display: flex;
}

.app-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: $white;
    display: block;
    padding: 25px 20px;

    &:hover,
    &:focus {
      background-color: $navigation_on_cursor;
    }
  }
}

.app-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 545px;
}

.app-navigation-current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 20px;
    right: 20px;

    background-color: $white;
  }
}

.user-navigation  {
  display: flex;
  flex-wrap: wrap;
  width: 110px;
  margin-left: auto;

  .login-link {
    padding-left: 55px;
    position: relative;

    &::before {
      content: "";
      position: absolute;

      top: 27px;
      left: 24px;

      width: 14px;
      height: 14px;

      background: url("../img/login.svg") no-repeat 0 0;

      opacity: 0.3;
    }

    &:hover::before,
    &:focus::before,
    &:active::before {
      opacity: 1;
    }
  }
}
