.appointment-item input {
  width: 140px;
  padding: 7px 15px;
  font: inherit;
  background-color: $input_background;
  border: 2px solid $black;

  &:hover,
  &:focus {
    border-color: $on_cursor;
  }
}

.appointment {
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.apponiment-form-item {
  display: flex;
  justify-content: space-between;

  &:last-of-type {
    margin-bottom: 10px;
  }
}

.appointment-form {
  display: flex;
  flex-direction: column;
}

.apponiment-form-item

.appointment-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;

  label {
    display: block;
    margin-left: 15px;
    margin-bottom: 7px;
  }
}
