.page-title {
  font-size: 30px;
  line-height: 42px;
  color: $black;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: $black;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.breadcrumbs-current {
  color: $disabled;
}
