.page-title {
  font-size: 30px;
  line-height: 42px;
  color: $black;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  color: $black;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.breadcrumbs-current {
  color: $disabled;
}

.breadcrumbs li:not(:last-child) {
  padding-right: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: 10px;
    height: 10px;

    right: 15px;
    top: 50%;

    background-color: $black;

    transform: translateY(-50%) rotate(45deg);
  }
}
