.page-title {
  margin: 0;
  margin-bottom: 15px;
  color: $black;
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  color: $black;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.breadcrumbs-current {
  color: $disabled;
}

.breadcrumbs li:not(.breadcrumbs-current) {
  padding-right: 45px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 18.5px;
    top: 50%;
    width: 8px;
    height: 8px;

    background-color: $black;

    transform: translate(50%, -50%) rotate(45deg);
  }
}
