.index-columns .button {
  font: inherit;
  color: $white;
  background-color: $black;
}

.button {
  font: inherit;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  background-color: $black;
  border: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: $on_cursor;
  }

  &:disabled {
    background-color: $on_cursor;
    cursor: not-allowed;
  }
}
