.product-photo-preview, .kit-list{
  list-style: none;
}

.product-availability,
.product-text,
.kit-list,
.product-price span,
.product-info h3 {
  color: $black;
}

.product-article {
  color: $article_color;
}

.product-price span{
  background-color: $price_background;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}
