.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: $white;

  h3 {
    display: flex;
    flex-direction: column;
    line-height: 18px;
    color: $black;
  }
}

.product-category {
  text-transform: none;
}

.catalog-item-price span {
  background-color: $price_background;
  color: $black;
}

.pagination-item a {
  line-height: 18px;
  color: $white;
  background-color: $black;

  &:hover,
  &:focus {
    background-color: $on_cursor;
  }
}

.current-page a {
  color: $black;
  background-color: $white;
}
