.gallery {
  width: 300px;
}

.gallery-content {
  height: 178px;
  margin: 0;
  background-color: $gallery_background;
  border: 7px solid $white;

  a {
    display: block;
    width: 286px;
    height: 164px;
  }
}

.gallery-buttons {
  display: flex;
  justify-content: space-between;

  button {
    width: 140px;
  }
}
