.gallery-content {
  height: 178px;
  margin: 0;
  margin-bottom: 35px;
  border: 7px solid $white;
  background-color: $gallery_background;
}

.gallery {
  width: 300px;
}

.buttuns-galery {
  display: flex;
  justify-content: space-between;
}
