.hair-products {
  width: 240px;
  margin-bottom: 65px;

  h2 {
    margin-bottom: 25px;
  }
}

.hair-products-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-left: 20px;
    position: relative;
  }

  li:not(:last-child) {
    margin-bottom: 15px;
  }
}
.hair-products-list li::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  width: 8px;
  height: 8px;
  background-color: $black;
  transform: translateY(-50%) rotate(45deg);
}
