.modal-authentication {
  background: $content_background url("../img/content-background.png") 0 0 repeat;
  color: $black;
}

.modal-authentication h2 {
  font-size: 30px;
  line-height: 42px;
}

.restore {
  color: $black;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  text-transform: uppercase;
  background-color: $input_background;
  border: 2px solid $black;

  &:hover,
  &:focus {
    border-color: $on_cursor;
  }
}

.login-checkbox {
  cursor: pointer;
  &:hover,
  &:focus {
    color: $on_cursor;
  }
}
