.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    margin-right: 5px;
  }
  a {
    padding: 15px 20px;
  }
}

.pagination-link {
  line-height: 18px;
  color: $white;
  background-color: $black;

  &:not(.current-link):hover,
  &:not(.current-link):focus {
    background-color: $on_cursor;
  }
}

.current-link {
  color: $black;
  background-color: $white;
}
