.price-services {
  width: 465px;

  h2 {
    margin-bottom: 35px;
  }
}

.price-services table {
  border-collapse: collapse;
}

.price-services td {
  border: 2px solid $black;
  padding: 10px 15px;

}

.price-services td:nth-child(2) {
  text-align: center;
}

.price-services table {
  width: 100%;
}


.price-services td {
  width: 50%;
}
