.promo-title {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.hair-products h2,
.about-us h2,
.price-services h2 {
  font-size: 24px;
  line-height: 30px;
}

.hair-products-list {
  list-style: none;
}

.price-services table {
  border-collapse: collapse;
}

.price-services td {
  border: 1px solid $black;
}

.price-services td:nth-child(2) {
  text-align: center;
}
