.promo-title,
.hair-products h2,
.hair-products-list,
.price-services,
.about-us {
  color:$black;
}


.promo-title {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.hair-products h2,
.about-us h2,
.price-services h2 {
  font-size: 24px;
  line-height: 30px;
}

.hair-products-list {
  list-style: none;
}

.price-services table,
.price-services td,
.price-services tr {
  border: 1px solid black;
  border-collapse: collapse;
}

.price-services table tr td:nth-child(2) {
  text-align: center;
}
