.product-info {
  width: 390px;

  h3 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
}

.kit-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-article {
  color: $article_color;
}

.product-description {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 20px;
}

.product-text {
  margin: 0;
  margin-bottom: 40px;
}

.product-price {
  margin: 0;
  margin-bottom: 65px;

  span {
    text-align: right;
    background-color: $price_background;
  }
}
