.product-info {
  padding-top: 20px;
  width: 390px;

  h3 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
}

.kit-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding-left: 20px;
    position: relative;
  }
}

.kit-list li::before {
  content: "";
  position: absolute;

  width: 8px;
  height: 8px;

  left: 2px;
  top: 50%;

  background-color: $black;

  transform: translateY(-50%) rotate(45deg);
}

.product-article {
  text-align: right;
  color: $article_color;

}

.product-description {
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.product-text {
  margin: 0;
  margin-bottom: 40px;
}

.product-price {
  display: flex;
  margin: 0;
  margin-bottom: 65px;

  span {
    width: 110px;
    padding: 10px;
    text-align: center;
    background-color: $price_background;
  }
}
