$black: #000000;
$white: #ffffff;
$content_background: #fcf9f6;
$input_background: #f9f5f3;
$on_cursor: #653d15;
$navigation_on_cursor: #242424;
$footer_background: #252525;
$map_background: #d3d3d3;
$gallery_background: #d3d3d3;
$breadcrumbs_color: #aba9a7;
$article_color: #aeaeae;
$price_background: #e5e5e5;
$disabled: rgba(0, 0, 0, 0.5);
