$black: #000000;
$white: #ffffff;
$content_background: #fcf9f6;
$input_background: #f9f5f3;
$on_cursor: #653d15;
$navigation_on_cursor: #242424;
$footer_background: #252525;
$map_background: #d3d3d3;
$gallery_background: #d3d3d3;
$article_color: #aeaeae;
$price_background: #e5e5e5;
$disabled: rgba(0, 0, 0, 0.5);
$color_shadow: rgba(0, 1, 1, 0.2);
$color_shadow_hover: rgba(0, 1, 1, 0.3);
$catalog_img_background: #d3d3d3;
$product_photo_shadow: 0 0 15px rgba(0,1,1,0.2);
