html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 960px;
  font: 700 14px/24px "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
  color: $white;
  background: $black url("../img/hair-salon.jpeg") 0 0 no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
